/* This StyleSheet is used for both login.html and signin.html */
/* Declaration for all global variables and attributes */
/* Fonts Used: */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 8px;
}
:focus{
    outline: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: url("./images/login-bg.jpg") no-repeat center center/cover;
}


/* =================================  Container section  ================================= */
.container{
    width: 90vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo{
    height: 10%;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.logo a{
    text-decoration: none;
}

.login{
    margin-top: 2rem;
    height: auto;
    width: 30%;
    padding: 1rem;
    background-color: #383432;
    border-radius: 12px;
}
.login .greet{
    text-align: center;
    padding: 2rem 1.5rem;
}

/* Form section */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 60%;
    width: 100%;
}
.form input, .form button, .form a{
    font-size: 2.3rem;
    height: 5rem;
    width: 100%;
    border-radius: 10px;
    padding: 1em;
}
.form input{
    margin-bottom: 1.5em;
    box-shadow: 0px -4px 7px 1px #00000040 inset,
                0px 4px 4px 0px #00000040;
}
.form button, .form a{
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 4px 4px 2px #00000040, 
                0px -3px 5px 3px #00000040 inset;
    cursor: pointer;
}
#login-btn{
    background-color: #10BC55;
}
#login-btn:hover{
    background-color: #0eda5f;
}
.form a{
    background-color: #D8541C;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
.form a:hover{
    background-color: #ff6624;
}




/* =============================== Utility Classes ========================================= */
/* Font Colours */
.ft-ltorange{
    color: #F5EDE8;
}

/* Font sizes and weights*/
.sz-10x{
    font-size: 10.2rem;
}
.sz-4x{
    font-size: 4rem;
}
.wt-700{
    font-weight: 700;
}
.wt-600{
    font-weight: 600;
}

/* ============================== Media Queries ========================= */
@media (max-width: 1024px){
    .login{
        width: 40%;
    }
}
@media (max-width: 768px){
    html{
        font-size: 8px;
    }
    .login{
        width: 60%;
    }
}
@media (max-width: 500px){
    html{
        font-size: 5px;
    }
    .logo{
        text-align: center;
        width: 80%;
    }
    .login{
        width: 80%;
    }
}
@media (min-width: 2000px){
    html{
        font-size: 12px;
    }
}