*{
    margin-right: 0;
    padding: 0;
}
body{
    /* background-color:#e6e6e6; */
    background-color:rgba(218, 218, 218, 0.897) !important;
}
/* --------------------------------------------------------------------------------------------------------------- */
/*                                                Nav-Bar Styles                                                   */
/* --------------------------------------------------------------------------------------------------------------- */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color:#ff8533; */
    background-color: rgb(20 165 20 / 100%);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;

}
.logo{
    font-size: 1.3rem;
    font-weight: 900;
    color: black;
    text-decoration: none;
    /* border: 2px solid red; */
}
.logo:hover{
    color: rgba(255, 255, 255, 0.979);
}
.nav-left,.nav-right{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.nav-left ul ,.nav-right ul{
    align-items: center;
}
.nav-left ul li,.nav-right ul li{
    display: inline-block;
    /* border: 2px solid red; */
    list-style: none;
    margin-top: 15px;
    padding: 0px 20px;
    /* font-size: 22px; */
    font-size: 22px;
}
.nav-left ul li a,.nav-right ul li a{
    color: white;
    margin-top: 100px;
    padding-right: 10px;
    text-decoration: none;
}
.search-box{
    display: flex;
    align-items: center;
    background: #efefef;
    height:40px;
    width:450px;
    /* border: 2px solid red; */
    border-radius: 20px;
    padding: 0 15px;
}
.search-icon{
    font-size: 1.1rem;
    color:black !important;
}
.search-icon i:hover{
    color: rgb(187, 187, 180);
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.nav-left ul li :hover,.nav-right ul li :hover{
    color:black;
}


/* --------------------------------------------------------------------------------------------------------------- */
/*                                          Left-Side Bar Styles                                                   */
/* --------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Contrail+One&family=Josefin+Sans&display=swap');
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    /* background: #fff; */
    background: rgba(218, 218, 218, 0.897);
    border-radius: 15px;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    height: auto;
    width: 75%;
    align-self: flex-start;
}
.left-sidebar .user-description{
    /* border:3px solid blue; */
    border-radius: 15px;
    background-color: #fff;
    padding: 12px 5px;
}
.left-sidebar .dp{
    height: 12rem;
    width: 12rem;
    margin: auto;
}
.left-sidebar .dp img{
    height: 75%;
    width: 75%;
    border-radius: 50%;
    margin-left: 13%;
    margin-top: 13%;
}
.left-sidebar .name{
    font-family: 'Chewy', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2%;
    padding: 2%;

}
.left-sidebar .social-media-icons {
    text-align: center;
}
.left-sidebar .social-media-icons ul li{
    display: inline-block;
    list-style: none;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.left-sidebar .social-media-icons i{
    align-items: center ;
}
.left-sidebar .social-media-icons a{
    /* color: red; */
    color: green;
    text-decoration: none;
    margin-right: 10px;
}

#fb i{
    color:rgb(26, 167, 248);
}
#insta i{
    color: rgb(202, 17, 119);
}
#linkedin i{
    color: rgb(18, 142, 214);
}
#twitter i{
    color: rgb(26, 167, 248);
}
#github i{
    color: black;
}

#fb i:hover{
    color:rgb(26, 167, 248);
}
#insta i:hover{
    color: rgb(202, 17, 119);
}
#linkedin i:hover{
    color: rgb(18, 142, 214);
}
#twitter i:hover{
    color: rgb(26, 167, 248);
}
#github i:hover{
    color: black;
}


.left-sidebar .social-media-icons :hover{
    transform: scale(1.6);
}
/* .left-sidebar .social-media-icons a:hover{
    color : blue;
} */

.intro{
    /* background: var(--bg-color); */
    padding: 30px 14px 4px 14px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    border-radius: 5px;
}
.intro h3, .title-photos h3, .title-friends h3{
    font-size: 1.5rem;
}
.intro #user-caption{
    text-align: center;
    margin: 20px 0;
    font-size: 15px;
    padding: 10px 0;
}
.intro hr{
    color: grey;
    margin: 30px 0;
}
.intro li{
    list-style: none;
    font-size: 15px;
    margin: 14px 0;
    align-items: center;
}
.intro li i{
    margin-right: 5px;
}

.user-all-photos,.user-all-friends{
    background-color: #fff;
    margin: 25px 0;
    /* border: 3px solid red; */
    border-radius: 15px;
    padding: 12px 5px;
    
}
.title-photos,.title-friends{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 8px;
    
}
.title-photos a,.title-friends a{
    text-decoration: none;
    color: #1876f2;
    font-size: .9rem;
    /* border: 1px solid red; */
    padding: 3px 8px;
}
.title-photos a:hover,.title-friends a:hover {
    background-color:#e6e6e6;
}

.user-all-photos .photo-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* border: 1px solid blue; */
    grid-gap: 10px;
    margin: 25px 5px 20px 5px;

}
.user-all-photos .photo-box img{
    width: 100%;
    height: 90%;
    border-radius: 12px;
    /* border: 3px solid blue; */
}
.user-all-friends .friend-box img{
    width: 100%;
    height: 90%;
    border-radius: 12px;
    /* border: 3px solid blue; */
}
.user-all-photos .photo-box img:hover{
    transform: scale(1.1);
}
.user-all-friends .friend-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* border: 1px solid blue; */
    grid-gap: 22px 7px;
    margin: 1px 5px 30px 5px;
}
.user-all-friends .friend-box p{
    /* border: 1px solid blue; */
    text-align: center;
    font-size: .65rem;

}
.user-all-friends #no-of-friends{
    font-size: .85rem;
    display: inline-block;
    margin-left: 10px;
}
.right-sidebar{
    background: #fff;
    border-radius: 15px;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    height: 100vh;
    align-self: flex-start;
}
/* --------------------------------------------------------------------------------------------------------------- */
/*                                           Main-Content Styles                                                   */
/* --------------------------------------------------------------------------------------------------------------- */
.main-content{
    flex-basis: 47%;
    /* background-color: rgb(255, 163, 130); */
    background-color: rgba(218, 218, 218, 0.897);
    border-radius: 15px;
}
.write-post-container{
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 25px;
    color: #626262 ;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    bottom: 200px;
}
.user-profile p {
    font-size: .9rem;
    margin-bottom: -4px;
    font-weight: 600px;
    margin-left: 12px;
    margin-top: 10px;
    color: #626262 ;
}
.user-profile small{
    font-size:12px ;
    margin-left: 12px;
}

.write-post-container .write-post-elements{
    font-size: .9rem;
    align-items: center;
    padding-left: 8px;
    padding-top: 20px;
    
}
.write-post-container .write-post-elements textarea{
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius:10px;
    text-align: center;
    resize: none;
    outline: none;
    background-color: rgba(247, 242, 242, 0.658);
}
.write-post-container .post-element-icons{
    text-align: center;
}
.write-post-container .post-element-icons i{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 18px 15px;
}
.write-post-container .post-element-icons span{
    text-align: center;
    margin-left: 5px;
}
#icon-blue{
    color: #3399ff;
}
#icon-green{
    color: green;
}
#icon-red{
    color: red;
}
.post-element-icons span{
    color: #626262;
    font-size: 1.1rem;
}
.write-post-container .post-element-icons i:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}
/* --------------------------------------------------------------------------------------------------------------- */
/*                                                      Posts                                                      */
/* --------------------------------------------------------------------------------------------------------------- */
.post-container{
    /* background-color: rgb(241, 167, 30); */
    background-color: white;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 25px 0;
}
.post-container .user-profile span{
    font-size: 0.7rem;
    margin-left: 11px;
    color: black;
}
.post-container .write-post p{
    margin: 20px 0;
}
.image-post img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    margin: 5px;
}
.post-container .user-profile #name span{
    font-size: .9rem;
    margin-bottom: -4px;
    font-weight: 600px;
    margin-left: 2px;
    margin-top: 10px;
    color: #626262 ;
    margin-right: 250px;
}
.post-container .dots{
    margin-left: 100%;
    text-align: center;
    /* border: 1px solid red; */
}
.post-container .dots i{
    margin-left: 20px;
    font-size: 1.1rem;
}
.post-container .user-profile #date{
    font-size: 12px;
    margin-left: 12px;
    
}

.post-icons{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3px 20px;
    margin: 25px 5px;
    
}
.post-icons i{
    /* border: 1px solid blue; */
    text-align: center;
    margin: 0px 15px;
    padding: 4px 15px;
}
.post-icons span{
    text-align: center;
    margin-left: 5px;
    /* border: 1px solid green; */
}
.post-icons i:hover{
    background-color: #e6e6e6;
}
.post-icons #red i:hover{
    transform: scale(1.2);
    color: red;
    cursor: pointer;
}
.post-icons #blue i:hover{
    transform: scale(1.2);
    color: rgb(0, 119, 255);
    cursor: pointer;
}
.post-icons #yellow i:hover{
    transform: scale(1.2);
    color: green;
    cursor: pointer;
}
